@use '../custom' as *;
@use '../components/mixins' as *;

// .btn {
//     border: solid $alert-border-radius purple;
// }

// .btn-rounded {
//     position: relative;
//     padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
//     font-weight: 700;
//     margin: 0;
//     border: 0.1rem solid rgba($white, 0.6);
//     background-color: $white;
//     display: block;

//     span {
//         position: absolute;
//         background-color: $primary;
//         width: 2.5rem;
//         height: 2.5rem;
//         top: 50%;
//         right: 5px;
//         transform: translateY(-50%);
//         border-radius: 50%;

//         i {
//             color: $white;
//             font-size: 1rem;
//             line-height: 2.5rem;
//         }

//     }

//     &:hover {
//         @include gradient;
//         color: $white;

//         span {
//             background-color: rgba($black, 0.6);
//         }
//     }
// }


@mixin button-variant-custom($border, $hover-color, $color: #fff) {    
    border-color: $border;
    color: $color;
    
    &:hover, &:focus {        
        background-color: $hover-color;
        border-color: $hover-color;
        color: $color;
    }
}

@mixin button-outline-variant-custom($border, $hover-color, $hover-text-color, $text-color: #fff) {    
    border-color: $border;
    color: $text-color;
            
    &:hover, &:focus {        
        background-color: $hover-color;
        border-color: $hover-color;
        color: $hover-text-color;
    }
}


@each $color, $value in $theme-colors {
    .btn-#{$color} {                
        $hover-color: theme-active-color($color);        
        $text-color: if($color == 'light', #000, #fff);

        @include button-variant-custom($value, $hover-color, $text-color);      
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {                
        $hover-color: theme-active-color($color); 
        $hover-text-color: if($color == 'light', $neutrals-granite, #fff);
        $text-color: if($color == 'light', $neutrals-granite, $value);
        $border: if($color == 'light', $neutrals-granite, $value);
        
        @include button-outline-variant-custom($border, $hover-color, $hover-text-color, $text-color);      
    }
}

